{% load i18n %}
<div class="problem tli_block problems-wrapper" data-area-height="{{ area_height }}"
  data-min-caracter-input="{{ min_caracter_input }}">
  <h3 class="tli-header problem-header">{{ display_name }}</h3>
  <div class="problem-progress">{{ problem_progress }}</div>
  {% if no_mas_intentos or preguntas|length == 0 %}
  <div class="tablagrande noclick" id="longinputtable">
    {% else %}
    <div class="tablagrande" id="longinputtable">
      {% endif %}
      <table class="tli-table-content">
        {% if mostrar_header_tabla %}
        <thead>
          <tr>
            {% if numbering_type != 'none' %}
            <th class="tli-number-cell" style="text-align:center;">{{ texto_header_num }}</th>
            {% endif %}
            {% for hcell in header_row_cells %}
            <th class="tli-content-cell tli-header-cell" style="text-align:center;"><strong>{{ hcell|safe }}</strong>
            </th>
            {% endfor %}
          </tr>
        </thead>
        {% elif use_legacy_header %}
        <thead>
          <tr>
            {% if numbering_type != 'none' %}
            <th class="tli-number-cell" style="text-align:center;">{{ texto_header_num }}</th>
            {% endif %}
            <th class="tli-question-cell" colspan="{{ columnas_por_fila }}" style="text-align:center;"><strong>{{
                texto_header|safe }}</strong></th>
          </tr>
        </thead>
        {% endif %}
        <tbody>
          {% for fila in filas_preguntas %}
          <tr>
            {% if numbering_type != 'none' %}
            <td class="tli-number-cell">{{ fila.row_numbering_label }}</td>
            {% endif %}
            {% for pregunta in fila.cells %}
            <td class="tli-content-cell">
              {% if pregunta.tipo_celda == 'texto' %}
              <div class="tli-cell-prompt">{{ pregunta.texto_celda|safe }}</div>
              {% else %}
              {% if pregunta.texto_input %}
              <div class="tli-cell-prompt">
                {{ pregunta.texto_input|safe }}{% if pregunta.minimo_efectivo > 0 %} *{% endif %}
              </div>
              {% endif %}
              <div class="tli-cell-input" style="text-align: justify;">
                {% if respondido %}
                {% for iter, ans in respuestas.items %}
                {% if iter == pregunta.id %}
                {% if no_mas_intentos %}
                {{ ans }}
                {% else %}
                <textarea class="student_answer student_answer_input" pregunta-id="{{ pregunta.id }}"
                  name="{{ pregunta.id }}_{{ location }}" value="{{ ans }}" style="height: {{ area_height }};"
                  {% if pregunta.minimo_efectivo > 0 %}required="required" minlength="{{ pregunta.minimo_efectivo }}"{% endif %}
                  {% if pregunta.minimo_efectivo > 0 %}placeholder="Escriba aquí al menos {{ pregunta.minimo_efectivo }} caracteres."{% else %}placeholder="Escriba aquí..."{% endif %}></textarea>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                <textarea class="student_answer student_answer_input" pregunta-id="{{ pregunta.id }}" name="{{ pregunta.id }}_{{ location }}" style="height: {{ area_height }};"
                  {% if pregunta.minimo_efectivo > 0 %}required="required" minlength="{{ pregunta.minimo_efectivo }}"{% endif %}
                  {% if pregunta.minimo_efectivo > 0 %}placeholder="Escriba aquí al menos {{ pregunta.minimo_efectivo }} caracteres."{% else %}placeholder="Escriba aquí..."{% endif %}></textarea>
                      {% endif %}
                    </div>
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  <div class="action">
            {% if no_mas_intentos or preguntas|length == 0 %}
              <button class="tli-submit Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}" disabled="disabled">
            {% elif is_past_due or not respondido %}
              <button class="tli-submit Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}" disabled="disabled">
            {% else %}
              <button class="tli-submit Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}">
            {% endif %}
                <span>Enviar</span>
              </button>
            {% if respondido %}
              Respuesta enviada.
            {% endif %}
              <span id="submission_feedback_{{ location }}" class="submission-feedback">
                {{texto_intentos}}
              </span>
  </div>
</div>