<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="display_name">Display Name</label>
        <input class="input setting-input" name="display_name" id="display_name" value="{{display_name}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="texto_falso">Texto</label>
        <input class="input setting-input" name="texto_falso" id="texto_falso" value="{{texto_falso}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="texto_header">Texto Header</label>
          <input class="input setting-input" name="texto_header" id="texto_header" value="{{texto_header}}" type="text" />
        </div>
      </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="weight">Peso</label>
        <input class="input setting-input" name="weight" id="weight" value="{{weight}}" type="number" step="1" min="0" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="nro_de_intentos">Nro. de Intentos</label>
        <input class="input setting-input" name="nro_de_intentos" id="nro_de_intentos" value="{{nro_de_intentos}}" type="number" step="1" min="1" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="area_height">Altura del área de respuesta</label>
        <input class="input setting-input" name="area_height" id="area_height" value="{{area_height}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="numbering_type">Tipo de numeración</label>
        <select class="numbering_type" name="numbering_type">
          <option value="none" {% if numbering_type == 'none' %}selected{% endif %}>
            Sin numeración
          </option>
          <option value="numbers" {% if numbering_type == 'numbers' %}selected{% endif %}>
            1, 2, 3...
          </option>
          <option value="numbers_zero" {% if numbering_type == 'numbers_zero' %}selected{% endif %}>
            0, 1, 2...
          </option>
          <option value="letters" {% if numbering_type == 'letters' %}selected{% endif %}>
            a, b, c...
          </option>
          <option value="roman" {% if numbering_type == 'roman' %}selected{% endif %}>
            i, ii, iii...
          </option>
        </select>
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="texto_header_num">Texto de cabecera de la numeración</label>
        <input class="input setting-input" name="texto_header_num" id="texto_header_num" value="{{texto_header_num}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="pretext_num">Texto antes de la numeración</label>
        <input class="input setting-input" name="pretext_num" id="pretext_num" value="{{pretext_num}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="postext_num">Texto después de la numeración</label>
        <input class="input setting-input" name="postext_num" id="postext_num" value="{{postext_num}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set" id="listapreguntas">
      {% for key, value in preguntas %}
        <div class="div-pregunta-{{key}}">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="pregunta">Pregunta</label>
            <input class="input setting-input" name="pregunta" pregunta-id="{{key}}" value="{{value.enunciado}}" type="text" />
          </div>
          <div class="action-item">
            <a href="#" borrar-id="{{key}}" class="button action-primary borrar-button">Borrar</a>
          </div>
        </div>
      {% endfor %}
  </li>
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Save</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">Cancel</a>
      </li>
      <li class="action-item">
          <a href="#" class="button add-button">Agregar otra pregunta</a>
      </li>
    </ul>
  </div>
</div>